@page "/category/edit/{id:int}"
@using Microsoft.AspNetCore.Components

<h1 class="text-center text-muted">Edit category</h1>
<EditForm Model="_categoryUpdateModel" class="text-center" OnValidSubmit="HandleValidationRequestedAsync" >
    <DataAnnotationsValidator></DataAnnotationsValidator>
    <ValidationSummary></ValidationSummary>

    <div class="mb-3 mt-3">
        <label for="@_categoryUpdateModel.Name" class="form-label">Name</label>
        <InputText @bind-Value="_categoryUpdateModel.Name" placeholder="Input name" class="form-control"></InputText>
    </div>
    <div class="mb-3">
        <label for="@_categoryUpdateModel.Description" class="form-label">Description</label>
        <InputTextArea @bind-Value="_categoryUpdateModel.Description" placeholder="Input description" class="form-control"></InputTextArea>
    </div>
    <div class="mb-3">
        <label for="@_categoryUpdateModel.FinancialType" class="form-label">Financial type</label>
        <InputSelect @bind-Value="_categoryUpdateModel.FinancialType" class="form-control">
            <option value="Income" >Income</option>
            <option value="Expense">Expense</option>
        </InputSelect>
    </div>
    <div class="mb-3">
        <label for="@_categoryUpdateModel.IsRegular" class="form-check-label">Regular</label>
        <InputCheckbox @bind-Value="_categoryUpdateModel.IsRegular" class="form-check-input"></InputCheckbox>
    </div>
    <button type="submit" class="btn btn-success">Send</button>
</EditForm>
@if (_errorMessage.Length > 0)
{
    <div class="alert alert-danger" role="alert">
        @_errorMessage
    </div>
}